* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: #674baf;
  --magenta: rgb(232, 130, 232);
}

body {
  background-color: var(--purple);
  background-image: url("./images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
  font-family: "Open Sans", sans-serif;
}

header {
  padding-top: 40px;
  margin-bottom: 50px;
}

header img {
  width: 200px;
}

.main {
  display: flex;
  gap: 60px;
}

.main img {
  width: 50%;
}

.main-txt {
  color: white;
  padding-top: 50px;
}

.main-txt h1 {
  line-height: 50px;
  margin-bottom: 25px;
}

.main-txt p {
  line-height: 23px;
  margin-bottom: 20px;
}

.main-txt button {
  padding: 15px 60px;
  border-radius: 50px;
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--magenta);
}

.main-txt button:hover {
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: var(--magenta);
  transition: background-color 0.3s;
}

footer {
  display: flex;
  gap: 20px;
  justify-content: end;
}

footer a {
  border: 1px solid #fff;
  border-radius: 100%;
  text-decoration: none;
  padding: 10px 12px;
  color: white;
}

footer a:hover {
  color: var(--magenta);
  border-color: var(--magenta);
  transition:
    color 0.5s ease-in-out,
    border-color 0.5s;
}
